extends layout

block content
  .sectionDetailArticle 
    center
      .dateArticle 
        p Published on April 07, 2021
        h3= article.title
        h6.mt-4 Written by #{article.author}
  .tagArticle
    .d-flex  
      .boxTag 
        p Information
      .boxTag 
        p Technology
      .boxTag 
        p Job Vacancies
      .boxTag 
        p News Article
  .bodyArticle.mt-5
    p= article.body

  a.btn.btn-primary.btnEdit.float-left(href='/articles/edit/'+article._id) Edit
  a.btn.btn-danger.delete-article.float-end(href='#', data-id=article._id) Delete