extends layout

block content
  section#landingPage.landing 
    .row 
      .col-md-5.mt-5
        .title.mt-5 
          .d-flex
            hr.divider
            p.title Amal Solution 
        .greetingText 
          h3.text-start We provide various information regarding the latest articles about news in Indonesia
        .detailInformation.mt-4
          p.text-start The article information that we provide is valid information accompanied by a lot of supporting evidence about that information
          .d-flex 
            a.btn.btn-primary.btnCTA Get Started
            a.btnArticle Watch Article
      .col-md-7 
        .boxVideo
          video#player(playsinline='', controls='', data-poster='/path/to/poster.jpg', autoplay='true')
            source(src='./promotion.mp4', type='video/mp4')
            source(src='./promotion.mp4', type='video/mp4')
            track(kind='captions', label='English captions', src='/path/to/captions.vtt', srclang='en', default='')
    div(data-aos="fade-up", data-aos-duration="3000")  
      section(style='height:100%; width: 100%; box-sizing: border-box; background-color: #0D111A')
        .text-center.title-text-content-2-4
          h1.text-title-content-2-4 3 Keys Benefit
          p.text-caption-content-2-4(style="margin-left: 3rem; margin-right: 3rem;") You can easily manage your business with a powerful tools
        .grid-padding-content-2-4.text-center
        .row
          .col-lg-4.column-content-2-4
            .icon-content-2-4
              img(src='http://api.elements.buildwithangga.com/storage/files/2/assets/Content/Content2/Content-2-11.png', alt='')
            h3.icon-content-2-4-title Easy to Operate
            p.icon-content-2-4-caption
              | This can easily help you to
              br
              | grow up your business fast
          .col-lg-4.column-content-2-4
            .icon-content-2-4
              img(src='http://api.elements.buildwithangga.com/storage/files/2/assets/Content/Content2/Content-2-12.png', alt='')
            h3.icon-content-2-4-title Real-Time Analytic
            p.icon-content-2-4-caption
              | With real-time analytics, you
              br
              | can check data in real time
          .col-lg-4.column-content-2-4
            .icon-content-2-4
              img(src='http://api.elements.buildwithangga.com/storage/files/2/assets/Content/Content2/Content-2-13.png', alt='')
            h3.icon-content-2-4-title Very Full Secured
            p.icon-content-2-4-caption
              | With real-time analytics, we
              br
              | will guarantee your data

  h1.my-5 #{title}
  ul.list-group
    each article, i in articles
      li.list-group-item.Articles
        a(href='/articles/'+article._id)= article.title
